{% load staticfiles %}
<title>Finanne Login</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>







<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="{% static 'css/finance.css' %}">
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="main">



    <div class="container">

        <h2 align="center" style="background-size: 50px" class="head"> <font face="Arial" style="background-color: orange">Finance Login</font></h2>
<center>
<div class="middle">

      <div id="login">


        <form action="javascript:void(0);" method="get">

          <fieldset class="clearfix">


            <p ><span class="fa fa-user"></span><input type="text"  Placeholder="Username" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" required></p> <!-- JS because of IE support; better: placeholder="Password" -->

             <div>
                 <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                 </div>





          </fieldset>

<div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      </div> <!-- end login -->
      <div class="midddle">
            <link rel="stylesheet" href="{% static 'css/social.css' %}">
                    <a href="https://facebook.com/colorlib" target="_blank" class="button facebook"><span><i class="fa fa-facebook" aria-hidden="true"></i></span><p>Facebook</p></a>&nbsp;
                    <a href="https://twitter.com/colorlib" target="_blank" class="button twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i></span><p>Twitter</p></a>&nbsp;
                    <a href="https://plus.google.com/+Colorlib" target="_blank" class="button google-plus"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span><p>Google +</p></a>&nbsp;
                    <a href="https://www.linkedin.com/company/colorlib" target="_blank" class="button linkedin"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span><p>Linkedin</p></a>&nbsp;


          <div class="clearfix"></div>
      </div>

      </div>
</center>
    </div>


</div>

