<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load staticfiles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="{% static 'css/hr.css'%}">
<div class="container">
    <div class="card card-login mx-auto text-center bg-dark">

        <div class="card-header mx-auto bg-dark">
            <h2>HumanResource Login</h2>
{#            <span> <img src="https://amar.vote/assets/img/amarVotebd.png" class="w-75" alt="Logo"> </span><br/>#}

<!--            <h1>--><?php //echo $message?><!--</h1>-->

        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="email" class="form-control" placeholder="Username">
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" name="btn" value="Login" class="btn btn-outline-danger float-right login_btn">
                </div>





            </form>

        </div>
    </div>
</div>
 <link rel="stylesheet" href="{% static 'css/social.css' %}">
                <a href="https://facebook.com/colorlib" target="_blank" class="button facebook"><span><i class="fa fa-facebook" aria-hidden="true"></i></span><p>Facebook</p></a>
                 <a href="https://twitter.com/colorlib" target="_blank" class="button twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i></span><p>Twitter</p></a>
                  <a href="https://plus.google.com/+Colorlib" target="_blank" class="button google-plus"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span><p>Google +</p></a>
                  <a href="https://www.linkedin.com/company/colorlib" target="_blank" class="button linkedin"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span><p>Linkedin</p></a>
