<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="1">
    <tr>
        <th width="100"><a href="{% url "main_page" %}">Home</a></th>
        <th width="100"><a href="{% url "Admin_index" %}">Admin </a></th>
        <th width="100"><a href="{% url "Officer_index" %}">Officer</a></th>
        <th width="100"><a href="{% url "Citezen_index" %}">Citizen</a></th>
        <th width="100">ContactUs</th>
    </tr>


</table>
</body>
</html>