<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load staticfiles %}
{% include "AcAdmin/home.html" %}
<table align="center">
    <tr></tr>
    <br>
    <tr></tr>
    <br>
    <tr>
        <td width="400">
            Office administration is a set of day-to-day activities that are related to financial planning,
            record keeping & billing, personnel, physical distribution and logistics, within an organization
            . An employee that undertakes these activities is commonly called an office administrator or office
            manager, and plays a key role in any organizations infrastructure, regardless of the scale. Many administrative
            positions require the candidate to have an advanced skill set in the software applications Microsoft Word, Excel and Access.
        </td>
        <td>
            <img src="{% static "images/admin.jpg" %}" width="200" height="150">
        </td>
    </tr>
</table>
</body>
</html>